:root {
    --fonte-principal:"Poppins";
    --fonte-secundaria:"Open Sans";
}


body {
    width:100vw;
    background-image: linear-gradient(
        hsl(257, 45%, 43%) 40%,
        hsl(257, 70%, 58%) 60%);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 3em;
    background-image: url(img/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -4.8vh;
    padding: 5vh 10vw;
}

.imagem__logo {
    width: 32%;
}

.imagem__telas {
    width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1em 1.5em;
    font-family: var(--fonte-secundaria);
    color: #FFFFFF;
    text-align: center;
    gap: 1em;
}

.texto__titulo {
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 19px;
    padding: 0 2em;
    line-height: 30px;
    
}

.texto__descriçao {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 1.3em;
}

.botao__registro {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 11px;
    border: none;
    border-radius: 25px;
    color: hsl(257, 64%, 55%);
    padding: 0.7em 6em;
    margin-top: 0.3em;
}

.linha__imagem {
    margin: 2.5em 0 1em 0;
}

.imagem__redes {
    width: 5vw;
    padding: 0 0.1em;
}

/* versão desktok */

@media screen and (min-width: 1360px){
    body {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 100vh;
        width: 100vw;
        background-image: url('img/bg-desktop.svg'),
                          linear-gradient( hsl(257, 45%, 43%) 20%, hsl(257, 70%, 58%) 60%);
        
        
    }

    header {
        background-image: none;
        gap: 4rem;
        padding: 0 0 0 4rem;
    }

    .imagem__logo {
        width: 12vw;
    }
    
    .imagem__telas {
        width: 45vw;
    }

    main {
       display: flex;
       justify-content: start;
       text-align: start;
       margin: 12rem 3rem 1rem 3rem;
       padding: 0 1rem;
       gap: 1rem;
       width: 72%;
    }
    
    .texto__titulo {
        font-size: 38px;
        line-height: 55px;
        padding: 0;
        margin-top: 2rem; 
    }
    
    .texto__descriçao {
        text-align: start;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        margin: 0 2rem 0 0;
    }
    
    .botao__registro {
        font-size: 15px;
        padding: 0.8rem 3.6rem;
    }
    
    .linha__imagem {
        text-align: end;
        margin-left: 22rem;
    }
    
    .imagem__redes {
        width: 2.3vw;
        padding: 0 0.3em;
    }
}